<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/3b462dba-0eca-4717-ad3c-f33a61f0965b%2Foffofflogo.png?1523167821151" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js" defer></script>
  </head>
  <body>
   <div id = "image">
<img src="https://cdn.glitch.com/3b462dba-0eca-4717-ad3c-f33a61f0965b%2Foffofflogo.png?1523167821151" width="90">
    </div>
<div class="nav-bar">
        <a href = "index.html" class ="nav-choice">Home</a>
        <a href = "about.html" class="nav-choice" >About</a>
</div>
<div class="questions">

    <h1>About Our Chatbot:</h1>
      <br><br>
  <h3><strong>Who is Chad the Chatbot, </strong></h3>
    <p>
      <br><br>
      24 hours in the making, we present to you our <strong><em>magical</em></strong> chabot! <br><br>
      Our Chad is the epitome of arrogance and conceit, but he is the perfect companion for small talk!<br><br></p>


      <h3><strong> What Did We Use to Make Him?</strong></h3><br><br>
  <p>
      <strong>In order to create Chad the Chatbot, we used...</strong><br><br>
      HTML (to build up our website structure), <br><br>
      CSS (in order to make the website presentable), Flask (to inplement Python into our HTML),<br><br>
      JavaScript (to input Flask and to enable the Python to be tranlated, displaying our output onto our website),<br><br>
      and Deep Learning (in order to "humanize" the computer),
      <br>
    </p>
        <br><br><br>
    <h3><strong>What is it for?</strong></h3><br><br>
    <p>
        The features of Chad envelopes the concept of "you ask a question or make a comment,<br><br>
      Chad responds!" Thus, you'd spend some of your spare time conversating with our ChadBot!
    </p>

        <br><br><br>
    <h3><strong>Why did we make it?</strong></h3> <br><br>
    <p>
        We chose to make Chad for a multitude of reasons.<br><br>
      For one, we found that making a Chat-bot was a learning experience and a chance to try something new,<br><br>
      secondly, we wanted to exercise some of our pre-existing skills,<br><br>
      and finally, we all just <em>love</em> making people laugh!
    </p>
      <br><br><br>
    <h3><strong>What can it do for you?</strong></h3><br><br>
    <p>
        The uses for this program is purely for entertainment purposes. <br><br>
      It's not going to answer life's greatest questions,<br><br>
      however, I assure you it will provide a couple of good, long, and enjoyable laughs whenever<br><br>
      you want something to mess around with!<br><br>
      We hope you enjoy!
    </p>
        <br><br><br>
    </div>
    <div class="credit">
    <p>
      <em>Created by Mak Pehar, Briana Remsen, Dominic Fernandez, and Quincy DeLaney</em>
    </p>

    </div>
  </body>
</html>