<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://cdn.glitch.com/3b462dba-0eca-4717-ad3c-f33a61f0965b%2Foffofflogo.png?1523167821151" sizes="16x16">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font" rel="stylesheet">
    <script src="/script.js" defer></script>
  </head>
  <body>
    <div id = "image">
    <img src="https://cdn.glitch.com/3b462dba-0eca-4717-ad3c-f33a61f0965b%2Foffofflogo.png?1523167821151" width="90">
    </div>
    <div class="nav-bar">
        <a href = "index.html" class ="nav-choice">Home</a>
        <a href = "about.html" class="nav-choice" >About</a>

</div>
    <h1>Home</h1>
    <p class="i-home">
      Welcome to the homepage! Here you can find our chatbot, Chad...
    </p>
    <p>
      Chad
    </p>
  </body>
</html>
